{
    "openapi": "3.0.2",
    "info": {
        "title": "Accounts API",
        "version": "1.0",
        "description": "The accounts management RESTful API service."
    },
    "servers": [
        {
            "url": "https://prod.account.badanamu.net/v1",
            "description": "The production API server."
        },
        {
            "url": "https://test.account.badanamu.net/v1",
            "description": "The test production API server."
        },
        {
            "url": "https://beta.account.badanamu.net/v1",
            "description": "The beta staging API server."
        },
        {
            "url": "https://account.internal.badanamu.net/v1",
            "description": "The in-house API server."
        }
    ],
    "components": {
        "schemas": {
            "APIError": {
                "type": "object",
                "description": "An API error.",
                "required": ["errCode"],
                "properties": {
                    "errCode": {
                        "type": "integer",
                        "description": "The code of the error."
                    },
                    "errName": {
                        "type": "string",
                        "description": "The name of the error."
                    },
                    "errMessage": {
                        "type": "string",
                        "description": "The error message."
                    },
                    "errField": {
                        "type": "string",
                        "description": "The name of the field that generated the error."
                    },
                    "errValue": {
                        "type": "integer",
                        "description": "Any value associated with the error."
                    },
                    "errParams": {
                        "type": "object",
                        "description": "Any parameters associated with the error."
                    }
                }
            }
        },
        "responses": {
            "400BadRequest": {
                "description": "An input query parameter, part of the URL or the request body is invalid.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/APIError"
                        }
                    }
                }
            },
            "401Unauthorized": {
                "description": "You are not authorized to perform an action or to access a resource. Make sure that you are using a valid access token.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/APIError"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "CIT"
            }
        }
    },
    "paths": {
        "/forgotpassword": {
            "post": {
                "operationId": "forgotPassword",
                "summary": "Forgot Password",
                "description": "Requests to restore a forgotten password.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The forget password request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "required": ["email","lang"],
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "The email address.",
                                                "example": "email@example.com"
                                            },
                                            "lang": {
                                                "type": "string",
                                                "description": "The language code of the desired communication language.",
                                                "example": "en_US"
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "required": ["phoneNr","lang"],
                                        "properties": {
                                            "phoneNr": {
                                                "type": "string",
                                                "description": "The phone number.",
                                                "example": "+14155552671"
                                            },
                                            "lang": {
                                                "type": "string",
                                                "description": "The language code of the desired communication language.",
                                                "example": "en_US"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully sent instructions on how to restore the password."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/restorepassword": {
            "post": {
                "operationId": "restoreForgottenPassword",
                "summary": "Restore Forgotten Password",
                "description": "Restores from a forgotten password, by providing a new password.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The restore password request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "required": ["accountId","verificationCode","pw"],
                                        "properties": {
                                            "accountId": {
                                                "type": "string",
                                                "description": "The account ID.",
                                                "example": "ABC-123"
                                            },
                                            "verificationCode": {
                                                "type": "string",
                                                "description": "The verification code received by communication.",
                                                "example": "en_US"
                                            },
                                            "pw": {
                                                "type": "string",
                                                "format": "password",
                                                "description": "The new password.",
                                                "example": "password"
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "required": ["accountEmail","verificationCode","pw"],
                                        "properties": {
                                            "accountEmail": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "The account email address.",
                                                "example": "email@example.com"
                                            },
                                            "verificationCode": {
                                                "type": "string",
                                                "description": "The verification code received by communication.",
                                                "example": "en_US"
                                            },
                                            "pw": {
                                                "type": "string",
                                                "format": "password",
                                                "description": "The new password.",
                                                "example": "password"
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "required": ["accountPhoneNr","verificationCode","pw"],
                                        "properties": {
                                            "accountPhoneNr": {
                                                "type": "string",
                                                "description": "The account phone number.",
                                                "example": "+14155552671"
                                            },
                                            "verificationCode": {
                                                "type": "string",
                                                "description": "The verification code received by communication.",
                                                "example": "en_US"
                                            },
                                            "pw": {
                                                "type": "string",
                                                "format": "password",
                                                "description": "The new password.",
                                                "example": "password"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully restored the password."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/signup": {
            "post": {
                "operationId": "signUp",
                "summary": "Sign Up",
                "description": "Signs up a new Badanamu account.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The sign-up request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "type": "object",
                                        "required": ["email","pw","lang"],
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "description": "The email address.",
                                                "example": "email@example.com"
                                            },
                                            "pw": {
                                                "type": "string",
                                                "format": "password",
                                                "description": "The password.",
                                                "example": "password"
                                            },
                                            "lang": {
                                                "type": "string",
                                                "description": "The language code of the desired communication language.",
                                                "example": "en_US"
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "required": ["phoneNr","pw","lang"],
                                        "properties": {
                                            "phoneNr": {
                                                "type": "string",
                                                "description": "The phone number.",
                                                "example": "+14155552671"
                                            },
                                            "pw": {
                                                "type": "string",
                                                "format": "password",
                                                "description": "The password.",
                                                "example": "password"
                                            },
                                            "lang": {
                                                "type": "string",
                                                "description": "The language code of the desired communication language.",
                                                "example": "en_US"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully signed up.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["accountId"],
                                    "properties": {
                                        "accountId": {
                                            "type": "string",
                                            "description": "The account ID of the newly registered account.",
                                            "example": "ABC-123"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/resend/verification/email": {
            "post": {
                "operationId": "resendEmailVerification",
                "summary": "Resend Email Verification",
                "description": "Resends an email verification email.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The resend email address verification request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["accountId"],
                                "properties": {
                                    "accountId": {
                                        "type": "string",
                                        "description": "The account ID of the account to resend the email address verification for.",
                                        "example": "ABC-123"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully resent an email verification email."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/resend/verification/phonenumber": {
            "post": {
                "operationId": "resendPhoneNumberVerification",
                "summary": "Resend Phone Number Verification",
                "description": "Resends a phone number verification SMS.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The resend phone number verification request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["accountId"],
                                "properties": {
                                    "accountId": {
                                        "type": "string",
                                        "description": "The account ID of the account to resend the phone number verification for.",
                                        "example": "ABC-123"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully resent an phone number verification SMS."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/verify/email": {
            "get": {
                "operationId": "getEmailVerificationStatus",
                "summary": "Get Email Verification Status",
                "description": "Returns the email address verification status.",
                "tags": ["account"],
                "parameters": [
                    {
                        "in": "query",
                        "name": "accountId",
                        "description": "The account ID to query.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the email address verification status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["verified"],
                                    "properties": {
                                        "verified": {
                                            "type": "boolean",
                                            "description": "If the account email address has been verified."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            },
            "post": {
                "operationId": "verifyEmail",
                "summary": "Verify Email Address",
                "description": "Verifies an email address.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The verify email address request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["accountId","verificationCode"],
                                "properties": {
                                    "accountId": {
                                        "type": "string",
                                        "description": "The account ID of the account to verify the email address for.",
                                        "example": "ABC-123"
                                    },
                                    "verificationCode": {
                                        "type": "string",
                                        "description": "The verification code received in the email.",
                                        "example": "CODE123"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully verified the email address.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["email"],
                                    "properties": {
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The email address of the verified account.",
                                            "example": "email@example.com"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/verify/phonenumber": {
            "get": {
                "operationId": "getPhoneNumberVerificationStatus",
                "summary": "Get Phone Number Verification Status",
                "description": "Returns the phone number verification status.",
                "tags": ["account"],
                "parameters": [
                    {
                        "in": "query",
                        "name": "accountId",
                        "description": "The account ID to query.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the phone number verification status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["verified"],
                                    "properties": {
                                        "verified": {
                                            "type": "boolean",
                                            "description": "If the account phone number has been verified."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            },
            "post": {
                "operationId": "verifyPhoneNumber",
                "summary": "Verify Phone Number",
                "description": "Verifies a phone number.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The verify phone number request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["accountId","verificationCode"],
                                "properties": {
                                    "accountId": {
                                        "type": "string",
                                        "description": "The account ID of the account to verify the phone number for.",
                                        "example": "ABC-123"
                                    },
                                    "verificationCode": {
                                        "type": "string",
                                        "description": "The verification code received in the email.",
                                        "example": "CODE123"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully verified the phone number.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["phoneNr"],
                                    "properties": {
                                        "phoneNr": {
                                            "type": "string",
                                            "description": "The phone number of the verified account.",
                                            "example": "+14155552671"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                }
            }
        },
        "/self/info": {
            "get": {
                "operationId": "getAccountInfoSelf",
                "summary": "Get Account Info (Self)",
                "description": "Returns the account information about the signed in user.",
                "tags": ["account"],
                "responses": {
                    "200": {
                        "description": "Successfully returned the account information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["email", "country", "lang"],
                                    "properties": {
                                        "fullName": {
                                            "type": "string",
                                            "description": "The full name of the user.",
                                            "example": "John Doe"
                                        },
                                        "firstName": {
                                            "type": "string",
                                            "description": "The first name of the user.",
                                            "example": "John"
                                        },
                                        "lastName": {
                                            "type": "string",
                                            "description": "The last name of the user.",
                                            "example": "Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The email of the user.",
                                            "example": "user@example.com"
                                        },
                                        "country": {
                                            "type": "string",
                                            "description": "The home country of the user.",
                                            "example": "US"
                                        },
                                        "lang": {
                                            "type": "string",
                                            "description": "The language code for the desired communication language of the user.",
                                            "example": "en_US"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "operationId": "editAccountInfoSelf",
                "summary": "Edit Account Info (Self)",
                "description": "Changes account information for the signed in user.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The change account information request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "lang": {
                                        "type": "string",
                                        "description": "The language code for desired communication language.",
                                        "example": "en_US"
                                    },
                                    "names": {
                                        "type": "object",
                                        "description": "The names of the account.",
                                        "properties": {
                                            "fullName": {
                                                "type": "string",
                                                "description": "The full name of the account.",
                                                "maxLength": 64
                                            },
                                            "firstName": {
                                                "type": "string",
                                                "description": "The first name of the account.",
                                                "maxLength": 32
                                            },
                                            "lastName": {
                                                "type": "string",
                                                "description": "The last name of the account.",
                                                "maxLength": 32
                                            }
                                        },
                                        "example": {
                                            "fullName": "John Doe",
                                            "firstName": "John",
                                            "lastName": "Doe"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully changed the account information."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/self/password": {
            "post": {
                "operationId": "changePassword",
                "summary": "Change Password",
                "description": "Changes the password for the signed in user.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The change password request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["currPass","newPass"],
                                "properties": {
                                    "currPass": {
                                        "type": "string",
                                        "format": "password",
                                        "description": "The current password for the account.",
                                        "example": "oldpassword"
                                    },
                                    "newPass": {
                                        "type": "string",
                                        "format": "password",
                                        "description": "The new password for the account.",
                                        "example": "newpassword"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully changed the password."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/self/avatar": {
            "get": {
                "operationId": "downloadAvatarSelf",
                "summary": "Download Avatar (Self)",
                "description": "Returns the avatar for the signed in user account.",
                "tags": ["account"],
                "responses": {
                    "307": {
                        "description": "Successfully returned the account avatar using a redirection."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "operationId": "uploadAvatarSelf",
                "summary": "Upload Avatar (Self)",
                "description": "Uploads a new avatar for the signed in user account.",
                "tags": ["account"],
                "requestBody": {
                    "description": "The upload request information.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["contentType","contentSha256","contentLength"],
                                "properties": {
                                    "contentType": {
                                        "type": "string",
                                        "description": "The MIME-type of the avatar image.",
                                        "example": "image/jpeg"
                                    },
                                    "contentSha256": {
                                        "type": "string",
                                        "pattern": "^[0-9a-fA-F]{64}$",
                                        "description": "The hex-encoded SHA-256 hash of the avatar image.",
                                        "example": "2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824",
                                        "minLength": 64,
                                        "maxLength": 64
                                    },
                                    "contentLength": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The length of the avatar image in bytes.",
                                        "example": 17175981
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully returned the upload information for the avatar.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["uploadUrl","uploadMethod"],
                                    "properties": {
                                        "uploadUrl": {
                                            "type": "string",
                                            "description": "The URL to upload to.",
                                            "example": "https://example.com/file.png?signature=ABC"
                                        },
                                        "uploadMethod": {
                                            "type": "string",
                                            "description": "The first name of the user.",
                                            "example": "POST"
                                        },
                                        "uploadHeaders": {
                                            "type": "object",
                                            "description": "The last name of the user.",
                                            "example": {
                                                "Content-Type": "image/jpeg"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeAvatarSelf",
                "summary": "Remove Avatar (Self)",
                "description": "Removes the current avatar for the signed in user account.",
                "tags": ["account"],
                "responses": {
                    "200": {
                        "description": "Successfully removed the current avatar."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/other/{accountId}/info": {
            "parameters": [
                {
                    "in": "path",
                    "name": "accountId",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "description": "The account ID to get information about."
                }
            ],
            "get": {
                "operationId": "getAccountInfoOther",
                "summary": "Get Account Info (Other)",
                "description": "Returns the account information about a specific account.",
                "tags": ["account"],
                "responses": {
                    "200": {
                        "description": "Successfully returned the account information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": ["email"],
                                    "properties": {
                                        "fullName": {
                                            "type": "string",
                                            "description": "The full name of the user.",
                                            "example": "John Doe"
                                        },
                                        "firstName": {
                                            "type": "string",
                                            "description": "The first name of the user.",
                                            "example": "John"
                                        },
                                        "lastName": {
                                            "type": "string",
                                            "description": "The last name of the user.",
                                            "example": "Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The email of the user.",
                                            "example": "user@example.com"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/other/{accountId}/avatar": {
            "parameters": [
                {
                    "in": "path",
                    "name": "accountId",
                    "schema": {
                        "type": "string"
                    },
                    "required": true,
                    "description": "The account ID to get information about."
                }
            ],
            "get": {
                "operationId": "downloadAvatarOther",
                "summary": "Download Avatar (Other)",
                "description": "Returns the avatar for a specific account.",
                "tags": ["account"],
                "responses": {
                    "307": {
                        "description": "Successfully returned the account avatar using a redirection."
                    },
                    "400": {
                        "$ref": "#/components/responses/400BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/401Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    }
}
